<div class="dropdown" [class.open]="dropdownOpen">
  <button (click)="toggleDropDown()" class="dropdown__button">
    {{ selectedOption || "Filter by Region" }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-down-icon lucide-chevron-down"
    >
      <path d="m6 9 6 6 6-6" />
    </svg>
  </button>
  <div
    class="dropdown__menu"
    [class.open]="dropdownOpen"
    [hidden]="!dropdownOpen"
  >
    <div
      *ngFor="let option of options"
      (click)="selectOption(option)"
      class="dropdown__item"
    >
      {{ option }}
    </div>
  </div>
</div>
