@if (loading()) {
<div class="loader">
  <app-loader class="loading-spinner" message="loading..."></app-loader>
</div>
} @else { @if (error()) {
<div class="error-message">
  <p>{{ error() }}</p>
</div>
} @else {
<div class="content">
  <!--search and filter components -->
  <div class="search-and-filter">
    <div class="search-container">
      <input
        type="text"
        placeholder="Search for a country..."
        [formControl]="searchControl"
        class="search-input"
      />
      <svg
        class="search-icon"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <circle cx="11" cy="11" r="8" />
        <path d="m21 21-4.35-4.35" />
      </svg>
    </div>

    <!--drop down -->
    <app-drop-down
      [options]="regions"
      [selectedOption]="regionControl.value"
      (selectedOptionChange)="onRegionSelected($event)"
    ></app-drop-down>
  </div>
</div>

@if(noCountriesFound()) {
<div class="empty-state">
  <p>No countries found based on your matching criteria</p>
</div>
} @else {
<div class="country-list">
  @for (c of countries(); track c.name.common) {
  <div class="country-card" (click)="goToDetail(c.cca3)">
    <img [src]="c.flags.png" [alt]="c.name.common + ' flag'" />
    <div class="country-details">
      <h2>{{ c.name.common }}</h2>

      <ul>
        <li>
          <span class="country-key">Population: </span>
          <span class="country-value">{{ c.population | number }}</span>
        </li>
        <li>
          <span class="country-key">Region: </span>
          <span class="country-value">{{ c.region }}</span>
        </li>
        <li>
          <span class="country-key">Capital: </span>
          <span class="country-value">{{ c.capital }}</span>
        </li>
      </ul>
    </div>
  </div>
  }
</div>
} } }
