@if (loading()) {
<div>Loading countries...</div>
} @else { @if (error()) {
<div>{{ error() }}</div>
} @else {
<input
  type="text"
  placeholder="Search country..."
  [formControl]="searchControl"
/>
<select [formControl]="regionControl">
  <option value="">All regions</option>
  <option *ngFor="let r of regions" [value]="r">{{ r }}</option>
</select>
<ul>
  @for (c of countries(); track c.name.common) {
  <li>{{ c.name.common }} ({{ c.region }}) - {{ c.population | number }}</li>
  }
</ul>
} }
