@if (loading()) {
<div>Loading country details...</div>
} @else if (error()) {
<div class="text-red-600">{{ error() }}</div>
} @else if (country()) {
<div class="p-4 border rounded shadow">
  <button (click)="goBack()">Go back</button>
  <h2 class="text-2xl font-bold mb-2">{{ country()?.name?.common }}</h2>

  <img
    [src]="country()?.flags?.png"
    [alt]="country()?.name?.common + ' flag'"
    class=""
  />

  <p><strong>Region:</strong> {{ country()?.region }}</p>
  <p><strong>Population:</strong> {{ country()!.population | number }}</p>
  <p>
    <strong>Capital:</strong>
    {{ country()?.capital?.join(", ") }}
  </p>
</div>
} @else {
<div>No country details available.</div>
}
